/* navbar.component.css */
.navbar {
  background-color: #fafafa;
  border-bottom: 5px solid #ddd;
  padding: 0.8rem 1.5rem;
}

.navbar-brand img {
  border-radius: 50%; /* redondear logo si quieres */
  transition: 0.5s all ease-in-out;
}
.navbar-brand img:hover {
  border-radius: 50%; /* redondear logo si quieres */
  scale: 1.1;

}
.nav-link {
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: darkred; /* rojo oscuro */
}
