<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-center">{{ idUser ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>
      <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
        
        <div class="mb-3">
          <label for="first_name" class="form-label">Nombre</label>
          <input type="text" id="first_name" formControlName="first_name" class="form-control">
          @if (userForm.get('first_name')?.invalid && userForm.get('first_name')?.touched) {
            <div class="text-danger">
              El nombre es requerido.
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="last_name" class="form-label">Apellidos</label>
          <input type="text" id="last_name" formControlName="last_name" class="form-control">
          @if (userForm.get('last_name')?.invalid && userForm.get('last_name')?.touched) {
            <div class="text-danger">
              El apellido es requerido.
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control">
          @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
            <div class="text-danger">
              @if (userForm.get('email')?.errors?.['required']) {
                <div>El email es requerido.</div>
              }
              @if (userForm.get('email')?.errors?.['email']) {
                <div>El formato del email no es válido.</div>
              }
            </div>
          }
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">{{ idUser ? 'Actualizar' : 'Crear' }}</button>
        </div>

      </form>
    </div>
  </div>
</div>